fullnameOverride: jenkins
adminPassword: 612000
persistence:
  storageClass: {{ tenant_name }}-nfs
  size: "4Gi"

controller:
  testEnabled: false
  ingress:
    enabled: true
    apiVersion: networking.k8s.io/v1
    ingressClassName: nginx
    path: /
    hostName: jenkins.dev.com
  installLatestPlugins: true
  resources:
  requests:
    cpu: "0"
    memory: "0"
  limits:
    cpu: "2000m"
    memory: "4096Mi"
serviceAccountAgent:
  # Specifies whether a ServiceAccount should be created
  create: true